.card {
  background-color: white;
  border-radius: 0.3rem;
  box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
  margin-bottom: 1rem;
  width: 100%;

  img {
    height: auto;
    width: 100%;
  }

  .content {
    padding: 1rem;

    .meta {
      color: rgba(black, 0.4);
      margin-bottom: 0.5rem;
    }

    .description {
      color: rgba(black, 0.68);
    }
  }

  .extra {
    border-top: 1px solid rgba(black, 0.05);
    padding: 1rem;
  }

}
.userPanel{
  margin-left: 150px;
}
.form_item {
  position: relative;

}

.form_item:hover .hint,
input:focus ~ div {
  opacity: 1;
}

.hint {
  z-index: 2;
  content: "asd";
  opacity: 0;
  background: rgba(179, 179, 179, 0.5);
  position: absolute;
  bottom: 20px;
  left: 0px;
  padding: 5px;
  border: 0;
  font-size: 12px;
  font-weight: bold;
  color: #404040;
  border-radius: 7px;
  transition: opacity 0.4s;
}
